---
layout: layout.liquid
title: 11ty Boilerplate
---

<h1>Welcome to <strong>Interstellar Explorations</strong></h1>
<img alt="Interstellar explorations logo" src="/images/interstellar-exploration-logo.png" width="70" />
<p>Home for all of your galactic tips and tricks! Join the community and get the latest on space news, exploration and recomendations.</p>
<p><strong>Check out the blogs below</strong></p>
<a href="/blog1/" title="Best Pizza in the Galaxy">Best Pizza in the Galaxy</a>
<br><a href="/blog2/" title="What the Humans are up to">What the Humans are up to</a></br>
<p>Check out our socials:</p>
<p>{% user "Kiana May", "maykiana" %}</p>