---
layout: layout.liquid
title: 11ty Boilerplate
---

<h1>Welcome to <strong>Interstellar Explorations</strong></h1>
<img alt="Interstellar explorations logo" src="/images/interstellar-exploration-logo.png" width="70" />
<p>Home for all of your galactic tips and tricks!</p>
<a href="/blog1/" title="Best Pizza in the Galaxy">Best Pizza in the Galaxy</a>
<a href="/blog2/" title="What the Humans are up to">What the Humans are up to</a>